.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.employee-create-container {
  max-width: 400px;
  margin: auto;
}

.input-label {
  display: block;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.create-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.employee-table-container {
  margin-top: 20px;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-table th {
  background-color: #f2f2f2;
}

.employee-table tbody tr:hover {
  background-color: #f5f5f5;
}

.employee-table-header {
  text-align: center;
}

.employee-directory-header {
  text-align: center;
}
